Mark 1/nohup.out
Mark 1/crypto-config
nohup.out
Mark 1/channel-artifacts
Mark 2/basic-network/crypto-config
Mark 2/basic-network/channel-artifacts
Mark 2/chaincode/fabdl/fabdl

Mark 2/bin/configtxlator

Mark 2/bin/discover

Mark 2/bin/fabric-ca-client

Mark 2/bin/get-docker-images\.sh

Mark 2/bin/idemixgen

Mark 2/bin/orderer

Mark 2/bin/peer

Mark 2/basic-network/config/
