<div *ngIf="!IsDataFetched">
  <br><br>
  <form [formGroup]="formUid">
    Aadhar Number : <input type="number" formControlName="uid"><br><br>
    <button type="button" (click)="fetchUserDetails()" (disabled)="!formUid.valid">Next</button>
  </form>
  <h3> {{message}} </h3>
</div>

<div *ngIf="IsDataFetched">
  <h1 ALIGN=CENTER>
    USER DASHBOARD
  </h1>
  <p>
    User's Aadhar ID: {{userData.uidaidata.id}}
  </p><br><br>

  <button type="button" *ngIf="canApplyButton" [routerLink]="['applyLicense',userDataString]">
    Apply for {{userData.nextprocess | titlecase}} License
  </button>

  <button type="button" *ngIf="statusButton" (click)="ReturnStatus()">
    Show File Status
  </button>

  <p *ngFor="let status of statuses">
    <b>Number</b> = {{status.number}} &nbsp;&nbsp;&nbsp;&nbsp;
    <b>Filestatus</b> = {{status.filestatus}} &nbsp;&nbsp;&nbsp;&nbsp;
    <b>Date</b> = {{status.date}} &nbsp;&nbsp;&nbsp;&nbsp;
    <b>Time</b> = {{status.string}} &nbsp;&nbsp;&nbsp;&nbsp;
  </p>

  <button type="button" *ngIf="canPayFineButton">Pay Fine</button>
</div>
