<button type="button" [routerLink]="['uidai/part1']">Apply for UIDAI Card</button> &nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" [routerLink]="['dl/fetchData']">Fetch UIDAI Data to DL Authority</button> &nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" [routerLink]="['']">Apply for Driving License</button> &nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" [routerLink]="['dl/addRTO']">Add RTO</button>  &nbsp;&nbsp;&nbsp;&nbsp; 
<button type="button" [routerLink]="['dl/addOfficer']">Add Officer</button> &nbsp;&nbsp;&nbsp;&nbsp; 

<router-outlet></router-outlet>