<h1>Do you have an AADHAR card</h1>

<form [formGroup]="formChoice">
  <input type="radio" formControlName="choice" value="yes">Yes
  <input type="radio" formControlName="choice" value="no">No
  <br> <br> <br>

  <form [formGroup]="formUid">
    <div *ngIf="formChoice.controls['choice'].value == 'yes'">
      Aadhar Number :<input type="number" formControlName="uid">
    </div><br>
  </form>
  
  <button type="submit" (click)="p()"
    [disabled]="!formChoice.valid || (formChoice.controls['choice'].value == 'yes' && !formUid.valid)">
    Submit
  </button>
</form>
<br> <br> <br>
Form Status: {{formChoice.status}}
